<footer class="bg-dark text-white pt-4 pb-2 mt-5">
  <div class="container">
    <div class="row">
      <!-- Company Info -->
      <div class="col-md-4">
        <h5>Admin footer</h5>
        <p>© 2025 All rights reserved.</p>
      </div>

      <!-- Quick Links -->
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-white text-decoration-none">Home</a></li>
          <li><a href="/about" class="text-white text-decoration-none">About</a></li>
          <li><a href="/contact" class="text-white text-decoration-none">Contact</a></li>
        </ul>
      </div>

      <!-- Social -->
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <a href="#" class="text-white me-2"><i class="bi bi-facebook"></i> Facebook</a><br>
        <a href="#" class="text-white me-2"><i class="bi bi-twitter"></i> Twitter</a><br>
        <a href="#" class="text-white"><i class="bi bi-instagram"></i> Instagram</a>
      </div>
    </div>
    <hr class="bg-white">
    <div class="text-center">
      <small>Designed with Bootstrap 5</small>
    </div>
  </div>
</footer>
